html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: linear-gradient(#0a0a23, #20092d);
}

#animation-canvas {
    width: 100vw;
    height: 100vh;
}
